//<Адаптив>===========================================================================================================================================
@media (max-width: 1830px) {
	.container {
		padding: 0 10px;
	}
}

@media (max-width: 1780px) {
	.logo-block {
    margin-right: 25px;
	}
	.sidebar {
    margin-right: 15px;
	}
}

@media (max-width: 1500px) {
.main-page__promo-item {
	flex: 0 1 32.8%;
	}
	.prod-card__body {
    flex: 0 1 24.3%;
	}
	.prod-card__content {
    padding: 15px 20px 18px 20px;
	}
}

@media (max-width: 1500px) {
	.main-page__prod-img {
		margin-right: 15px;
	}
}

@media (max-width: 1360px) {
	.charect-block__price {
    margin-right: 15px;
	}
	.charect-block__choose .number {
    margin-right: 10px;
	}
}

@media (max-width: 1330px) {
	.main-page__prod-img {
		flex: 0 1 623px;
	}
	.charect-block__btn {
		width: 110px;
	}
}

@media (max-width: 1300px) {
	.logo-block {
    flex: 0 0 300px;
	}
	.menu__list {
    justify-content: flex-end;
	}
	.prod-card__body {
    flex: 0 1 32.3%;
	}
}

@media (max-width: 1280px) {
	.header__nav-block {
    padding: 6px;
	}
	.header__search {
    margin-right: 10px;
	}
	.main-page__flex-block {
    padding-right: 0;
	}
	.sidebar {
    flex: 0 0 300px;
    padding: 18px 10px 56px 0;
	}
	.sidebar__menu-open {
    min-height: 70px;
    padding: 28px 5px 25px 5px;
	}
	.sidebar__menu-open li {
    margin-left: 70px;
	}
	.main-page__promo-item {
    padding: 25px 10px 25px 20px;
	}
	.promo-block .main-page__promo-item {
    flex: 0 1 49%;
    min-height: 0;
    padding: 35px 10px 35px 40px;
	}
}

@media (max-width: 1100px) {
	.logo-block {
    flex: 0 0 270px;
	}
	.logo-block__contact a {
    font-size: 22px;
	}
	.logo-block__contact p {
    font-size: 18px;
	}
	.menu__list li {
    margin: 8px 5px 8px 0;
	}
	.menu__list {
    justify-content: space-between;
	}
}

@media (max-width: 1050px) {
	.header__search {
    flex: 0 1 240px;
	}
	.menu {
    min-width: 0;
	}
	.menu a {
    font-size: 14px;
	}
}

@media (max-width: 1024px) {
	.header {
    padding: 10px 0 25px 0;
	}
	.logo-block {
    flex: 0 0 200px;
	}
	.logo-icon {
    max-width: 65px;
    width: 100%;
    height: 65px;
	}
	.logo-block__contact a {
    font-size: 16px;
	}
	.logo-block__contact p {
    font-size: 14px;
	}
	.header__search {
    flex: 0 1 260px;
	}
	.menu {
    flex: 0 1 500px;
	}
	.main-page__promo {
    flex-wrap: wrap;
	}
	.main-page__promo-item {
    flex: 0 1 49.5%;
    margin-bottom: 10px;
	}
	.sidebar {
    flex: 0 0 285px;
		padding: 10px 10px 56px 0;
	}
	.sidebar__menu-open {
    min-height: 50px;
    padding: 20px 5px 15px 5px;
	}
	.sidebar__menu-open li {
    margin-left: 60px;
	}
	.sidebar__menu-open li:before {
    top: -50%;
    left: -23%;
    background-position: top;
	}
	.sidebar__menu-top-icon-2::before {
    top: -68% !important;
	}
	.sidebar__menu-top {
    margin-bottom: 35px;
	}
	.sidebar__menu-center {
    padding-left: 15px;
	}
	.sidebar__menu-center ul a {
    padding-left: 20px;
	}
	.prod-card__body {
    flex: 0 1 49%;
	}
	.main-page h1 {
    margin-bottom: 0px;
	}
	.s-wrap {
    height: auto;
	}
	.sidebar__menu-center {
    margin-bottom: 25px;
	}
	.sidebar__bg {
    border-radius: 0 35px 0 0;
	}
	.category h1 {
    margin-bottom: 22px !important;
	}
	.promo-block .main-page__promo-item {
    min-height: 0;
    padding: 35px 10px 35px 25px;
	}
	.main-page__prod-row {
		align-items: flex-start;
	}
	.slider__item img {
    object-fit: cover;
	}
	.main-page__prod-charect h1 {
    margin-bottom: 20px !important;
	}
}

@media (max-width: 960px) {
	.menu a {
    padding: 10px 13px;
	}
}

@media (max-width: 920px) {
	.main-page__flex-block {
    flex-wrap: wrap-reverse;
	}
}

@media (max-width: 860px) {
	.menu a {
    padding: 10px;
	}
	.sidebar {
    flex: 0 0 250px;
    padding: 10px 10px 56px 0;
	}
	.sidebar__menu-open li {
		margin-left: 45px;
    font-size: 18px;
	}
	.sidebar__social {
    padding-top: 30px;
    padding-left: 15px;
	}
	.sidebar__social a {
    margin-right: 30px;
	}
	.sidebar__menu-open li:before {
		top: -40%;
    background-size: 80%;
    background-position: top;
	}
	.main-page__promo-item {
    flex: 0 1 100%;
	}
	.promo-block .main-page__promo-item {
    flex: 0 1 100%;
    margin-bottom: 15px;
	}
}

@media (max-width: 812px) {
	.header__search {
    flex: 0 1 225px;
	}
	.logo-block {
    margin-right: 10px;
	}
	.main-page__prod-row {
		flex-wrap: wrap;
	}
	.main-page__prod-img {
		flex: 0 1 100%;
		max-width: 100%;
		margin: 0 0 25px 0;
	}
}

@media (max-width: 768px) {
	.wrapper {
    height: auto;
	}
	.header {
		position: fixed;
		width: 100%;
		padding: 5px 0;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
		background: #fff;
	}
	.logo-block {
    flex: 0 0 175px;
    align-items: center;
	}
	.logo-icon {
    max-width: 40px;
    height: 40px;
	}
	.header__nav-block {
		flex: 0 1 100%;
		padding: 0;
    background: #fff;
    border-radius: 0;
		justify-content: flex-end;
	}
	.header__search {
    flex: 0 1 600px;
	}
	.menu {
    flex: 0;
	}
	.icon-menu {
		display: block; 
	}
	.menu__body {
		display: none;
	}
	.header__callback {
    margin-right: 20px;
	}
	.page {
    padding-top: 68px
	}
	.page .container {
    flex-wrap: wrap-reverse;
	}
	.main-page {
    flex: 0 1 100%;
		padding-bottom: 20px;
	}
	.main-page__promo-item {
    flex: 0 1 49%;
	}
	.prod-card {
    margin-bottom: 0;
	}
	.sidebar {
    flex: 0 1 100%;
    margin: 0;
		padding: 20px 0 15px 0;
	}
	.sidebar__bg {
    top: 0;
    left: -10%;
    width: 115%;
    border-radius: 0;
	}
	.s-wrap {
    padding-bottom: 0;
	}
	.sidebar__menu-top {
    display: none;
	}
	.sidebar__menu-center {
    margin-bottom: 15px;
	}
	.sidebar__menu-center ul {
    flex-direction: row;
    justify-content: center;
		flex-wrap: wrap;
	}
	.sidebar__menu-center ul li {
    margin-bottom: 0;
	}
	.sidebar__menu-center ul a {
    padding-left: 0;
		padding-right: 15px;
	}
	.sidebar__menu-center ul a::before {
		display: none;
	}
	.sidebar__social {
    padding-left: 0;
    justify-content: center;
	}
	.main-page__bascet {
    display: none;
	}
	.promo-block .main-page__promo-item {
    flex: 0 1 49%;
	}
	.slider__item img {
		width: 100%;
	}
	.main-page__prod-row {
    flex-wrap: nowrap;
	}
	.main-page__prod-img {
    flex: 0 1 56%;
    max-width: 100%;
    margin: 0 15px 0 0;
	}
	.main-page__prod-charect h1 {
    font-size: 28px;
	}
	.main-page__flex-block {
    margin-bottom: 25px;
	}
	.bascket-icon {
		display: flex;
	}
	.mob-menu__list {
		margin-bottom: 15px;
	}
	.mob-menu.active .sidebar__menu-top {
    display: block;
		padding-left: 10px;
	}
	.mob-menu.active .sidebar__menu-open {
		min-height: 0;
    padding: 0;
    background: none;
		margin-bottom: 15px;
	}
	.mob-menu.active .sidebar__menu-open li {
    margin-left: 0;
    font-size: 23px;
    color: #fff;
	}
	.mob-menu.active .sidebar__submenu li a {
		font-size: 16px;
		padding: 5px 0;
	}
	.mob-menu.active .sidebar__submenu.active {
    margin: 15px 0;
	}
	.mob-menu.active .sidebar__menu-open li:after {
    right: 20%;
	}
	.mob-menu.active .sidebar__menu-open li:before {
		display: none;
	}
}

@media (max-width: 700px) {
	.mob-menu {
		width: 100%;
		right: -100%;
		-webkit-transition: right 0.8s;
		-o-transition: right 0.8s;
		transition: right 0.8s; }
}

@media (max-width: 630px) {
	.main-page__prod-row {
		flex-wrap: wrap;
	}
	.main-page__prod-img {
		flex: 0 1 100%;
		margin: 0 0 25px 0;
	}
	.main-page__prod-charect h1 {
    font-size: 34px;
	}
	.charect-block__string {
    max-width: 100%;
	}
	.charect-block {
    max-width: 100%;
	}
	.charect-block__choose {
    justify-content: space-between;
	}
}

@media (max-width: 540px) {
	.logo-block {
    margin-right: 15px;
	}
	.main-page__promo-item {
    flex: 0 1 100%;
	}
	.promo-block .main-page__promo-item {
    flex: 0 1 100%;
	}
}

@media (max-width: 480px) {
	.header__search {
    display: none;
	}
	.mob-search {
    display: flex;
	}
	.header__search.active {
    display: block;
    position: absolute;
    top: 50px;
    left: 0;
    max-width: 100%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    margin: 0;
	}
	.search__input {
    border-radius: 0 !important;
	}
	.prod-card__body {
    flex: 0 1 100%;
	}
}

@media (max-width: 414px) {
	.main-page__filter {
		flex-wrap: wrap;
		margin-bottom: 15px;
	}
	.main-page__btn {
    width: 100%;
		margin: 0 0 5px 0;
	}
}

@media (max-width: 400px) {
	.sidebar__menu-center ul li {
		margin-bottom: 6px;
	}
	.sidebar__menu-center ul li:last-child {
		margin-bottom: 0;
	}
}